{% set pathLastModification = commit.lastModification(path~'/'~name) %}
<tr>
    <td>{% block first_column %}{% endblock %}</td>
    <td>
        <a href="{{ path('tree', {reference: reference, path: (path ~ (path ? '/') ~ name)}) }}">
            {{ name }}
        </a>
    </td>
    <td>
        {{ pathLastModification.getCommitterDate.format('Y-m-d H:i:s') }}
    </td>
    <td>
        <a href="{{ path('commit', { hash: pathLastModification.hash }) }}">
            {{ pathLastModification.fixedShortHash }}
        </a>
        {{ pathLastModification.shortMessage }}
        <small>
            ({{ pathLastModification.authorName }})
        </small>
    </td>
</tr>
