{% extends "layout.html.twig" %}

{% block title reference.fullname %}

{% block content %}
    <h2>
        <a href="{{ path('repository', {repositoryName: repositoryName}) }}">
            {{ repositoryName }}
        </a>
        &gt;
        {% if reference is git_branch %}
            branch {{ reference.name }}
        {% elseif reference is git_tag %}
            tag {{ reference.name }}
        {% elseif reference is git_stash %}
            tag {{ reference.name }}
        {% else %}
            {{ reference.fullname }}
        {% endif %}
        <div style="float: right">
            <form method="POST" action="{{ path('reference_delete', {repositoryName: repositoryName, fullname: reference.fullname}) }}">
                <input type="submit" value="DELETE" />
            </form>
        </div>
    </h2>
    {{ git_log(reference.log.setLimit(10), {query_url: path('log_ajax', {repositoryName: repositoryName, fullname: reference.fullname})}) }}
{% endblock %}
